.App-header {
  padding        : 50px;
  display        : flex;
  align-items    : center;
  justify-content: center;
  font-size      : calc(10px + 2vmin);
  color          : white;
}

.App-main {
  text-align: center;
}

.App-result-img {
  width         : 90%;
  padding-bottom: 0.2rem;
  max-width     : 600px;
}